<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="../../assets/Fonts/Roboto/Roboto-Medium.ttf" rel="stylesheet">
    <link href="../../assets/Fonts/Roboto/Roboto-Regular.ttf" rel="stylesheet">
    <link href="../../assets/Fonts/Roboto/Roboto-Thin.ttf" rel="stylesheet">
    <title>Mix Launcher</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
